<app-layout-main>
  <ng-container *ngIf="isLoaded">
    <div class="action">
      <button [disabled]="!isLoggableLater"
              (click)="onClickLog(refItemLogTypeDto.Later)"
              mat-stroked-button>
        <mat-icon>repeat</mat-icon>
      </button>
      <button [disabled]="!isLoggableDoneToday"
              (click)="onClickLog(refItemLogTypeDto.DoneToday)"
              color="primary"
              mat-stroked-button>
        <mat-icon>done</mat-icon>
      </button>
      <button [disabled]="!isLoggableDone"
              (click)="onClickLog(refItemLogTypeDto.Done)"
              color="primary"
              mat-stroked-button>
        <mat-icon>done_all</mat-icon>
      </button>
      <button [disabled]="!isLoggableQuit"
              (click)="onClickLog(refItemLogTypeDto.Quit)"
              color="warn"
              mat-stroked-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="action">
      <a mat-stroked-button
         routerLink="/items/{{ item.id }}/edit">編集</a>
      <button (click)="onClickDelete()"
              color="warn"
              mat-stroked-button>削除</button>
    </div>

    <div class="title">
      <h1>{{ item.title || "（タイトルなし）" }}</h1>
    </div>

    <div class="description">
      <p>{{ item.description || "（詳細なし）" }}</p>
    </div>

    <div class="log">
      <h2>履歴</h2>
      <mat-list>
        <mat-list-item *ngFor="let itemLog of itemLogList">
          <mat-icon *ngIf="itemLog.type === refItemLogTypeDto.Later"
                    mat-list-icon>repeat</mat-icon>
          <mat-icon *ngIf="itemLog.type === refItemLogTypeDto.DoneToday"
                    mat-list-icon>done</mat-icon>
          <mat-icon *ngIf="itemLog.type === refItemLogTypeDto.Done"
                    mat-list-icon>done_all</mat-icon>
          <mat-icon *ngIf="itemLog.type === refItemLogTypeDto.Quit"
                    mat-list-icon>close</mat-icon>
          <p mat-line>{{ itemLog.createdAt | date:"yyyy/MM/dd HH:mm" }}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>
</app-layout-main>
