h1 {
  margin: 1rem 0;
}

h2 {
  margin: 2rem 0 0;
}

p {
  margin: 1rem 0;
}

.action {
  margin: 1rem 0;
  text-align: right;

  button {
    margin: 0 0.25rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

mat-list {
  margin: 0 -16px;
  padding: 0;
}

mat-list-item {
  height: 2rem !important;
}
