h1 {
  margin: 1rem 0;
}

.steps {
  margin: 2rem 0;
  position: relative;

  p {
    background: #ffffff;
    box-shadow: 0 0 1rem 0.5rem #ffffff;
    font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0.5rem;
    position: absolute;
  }
}

.add {
  bottom: 4rem;
  position: fixed;
  right: 1rem;
}

mat-divider {
  margin: 3rem 0 4rem;
}
