h1 {
  margin: 1rem;
}

h2 {
  margin: 0;
}

a {
  display: block;
  margin: 0.5rem 1rem;
  padding: 1rem;
  text-align: left;

  p {
    font-weight: normal;
    line-height: 1.25rem;
    margin: 0;
  }
}
