<header>
  <mat-toolbar>
    <h1>{{ toolbarTitle }}</h1>
  </mat-toolbar>
</header>
<main>
  <ng-content></ng-content>
</main>
<nav *ngIf="navEnabled"
     class="mat-tab-group-inverted-header"
     mat-tab-nav-bar>
  <a [active]="url == '/'"
    matTooltip="ホーム"
    mat-tab-link
    routerLink="/">
    <mat-icon>home</mat-icon>
  </a>
  <a [active]="url == '/items'"
    matTooltip="やってみたいことリスト"
    mat-tab-link
    routerLink="/items">
    <mat-icon>list</mat-icon>
  </a>
  <a [active]="url == '/items/activity'"
    matTooltip="これまでの履歴"
    mat-tab-link
    routerLink="/items/activity">
    <mat-icon>history</mat-icon>
  </a>
</nav>
